.button{
    display: inline-block;
    background-color:  #0D0D0D;
    box-shadow: 5px 5px 0 #999090;
    padding: 18px 20px;
    margin: 0;
    transition: transform 0.10s linear;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;

}

.button:hover{
    background-color: #dbdbdb;
    color: #db8686e1;
    transform: scale(1.05);
}